
button {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    margin: 20px;
    padding: 12px 25px;
    color: #252525;
    background-color: #64DFDF;
    border-style: none;
    border-radius: 4px;
    font-weight: 500;
    &:hover {
        background-color: darken($secondary-color, 15%);
    }
}

.quizRouterBtn {
    margin: 20px;
    a {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 25px;
        color: #252525;
        background-color: #64DFDF;
        border-radius: 4px;
        &:hover {
            background-color: darken($secondary-color, 15%);
        }
    }
}

.formSubmit {
    .quizRouterBtn {
        a {
            color: $primary-color;
        }
    } 
}
