
form {
    margin: 20px;
}

.instructions {
    font-family: 'Mukta', sans-serif;
    text-align: left;
    padding-bottom: 50px;
}

fieldset {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    // text-align: center;
}

label {
    margin: 10px;
    text-align: center;
}

select {
    text-align: center;
    margin: 10px;
    background-color: royalblue;
    border-style: none;
    width: 200px;
    font-family: 'Mukta', sans-serif;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
}

.playerChoiceCard {
    width: calc((100% / 3) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSubmit {
    display: flex;
    justify-content: center;
        button {
            font-family: 'Bangers', cursive;
            letter-spacing: 5px;
        }
}

.playerInfoCard {
    display: flex;
    padding-bottom: 80px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        padding-right: 50px;
            label {
                font-size: 1rem;
            }
    }
}

.avatarContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-family: 'Mukta', sans-serif;
            font-size: 1rem;
        }
        .avatarImageContainer {
            border: 2px solid black;
            width: 50%;
                img {
                    height: 200px;
                }
        }
}






