// .instructions {
//     text-align: left;
//     padding-bottom: 50px;
// }

.userInputs {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    // text-align: center;
}

label {
    margin: 10px;
    text-align: center;
}

select {
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-style: none;
    width: 350px;
    color: #4b4a4a;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    
    
}

.playerChoiceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.formSubmit {
    display: flex;
    justify-content: center;
    button {
        width: 350px;
        background-color: $tertiary-color;
        color: white;
    }
}

.playerInfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $secondary-color;
    padding: 50px;
    color: $secondary-color;
    margin-bottom: 50px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 75%;
            input {
                width: 50%;
                align-self: center;
                padding: 12px;
                border-radius: 15px;
                border-style: none;
            }
            button {
                width: 50%;
                align-self: center;
                background-color: $secondary-color;
                color: $primary-color;
                font-family: 'Exo', sans-serif;;
            }
    }
}

.avatarGenerator {
    display: flex;
    flex-direction: row;
}

.avatarContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-size: 1rem;
        }
        .avatarImageContainer {
            border-radius: 100px;
            background-color: $tertiary-color;
                img {
                    height: 200px;
                    border-radius: 100px;
                }
        }
}

.choicesForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
    padding: 25px;
    color: $primary-color;
    background-color: $secondary-color;
    // border: 2px solid #64DFDF;
        fieldset {
            flex-direction: column;
        }
}

.errorMessage {
    text-align: center;
}






