// Typography and General Styles
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700;800&display=swap');

$primary-color: #1c0452;
$secondary-color: #7AFED6;
$tertiary-color: #6930C3;
$accent-color: #BC9EFC;

html {
    font-size: 125%;
    color: $secondary-color;
    font-family: 'Exo', sans-serif;
}

body {
    background-color: $primary-color;
}

h1, 
h2,
h3 {
    letter-spacing: 5px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    span {
        color: $accent-color;
    }
}

h2, 
h3 {
    font-size: 2rem;
}

h3 {
    text-align: center;
}

label {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}
