// Typography and General Styles

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mukta:wght@300&family=Orbitron&family=Press+Start+2P&display=swap');

html {
    font-size: 125%;
    color: black;
    font-family: 'Bangers', cursive;
}

body {
    background-color: rgb(230, 185, 35);
}

h1, 
h2,
h3 {
    font-weight: 100;
    letter-spacing: 5px;
}

h1 {
    font-size: 3.5rem;
    text-align: left;
}

h2, 
h3 {
    font-size: 2rem;
}

h3 {
    text-align: center;
}


// *********** Might make more dry
label, 
button, 
p, 
a {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 100;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    max-width: 80%;
}