header {
    margin: 50px;
}

.headerImage {
    background-image: url(../../../assets/robo-trivia-header-image.png);
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.startingLink {
    margin-top: 35px;
    a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-decoration: none;
        color: $secondary-color;
    }
}
