header {
    margin: 50px;
    h1 {
        margin-bottom: 25px;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 0px;
    }
}

.headerImage {
    background-image: url(../../../assets/robo-trivia-header-image.png);
    height: 62vh;
    width: 80%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.startingLink {
    margin: 45px 0;
    a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.6rem;
        text-decoration: none;
        color: $secondary-color;
    }
}
