@media (max-width: 951px) {
    .headerImage {
        height: 40vh;
    }
    .playerRoboInfo {
        form {
            input, button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .avatarGenerator, .quizContainer {
        flex-direction: column;
    }

    .answerContainer, .quizContainer p {
        width: 100%;
    }

    .scoreModal {
        padding: 1rem;
        h1 {
            font-size: calc(1rem + 5vw);
        }
        p {
            font-size: calc(0.4rem + 1.5vw);             
        }
        button {
            margin: 20px;
        }
    }
}

@media (max-width: 575px) {
    header {
        span {
            display: block;
        }
        h1 {
            font-size: 2.5rem;
        }
    }

    .playerRoboInfo {
        padding: 50px 20px;
    }

    label {
        font-size: calc(1rem + 2vw);
        padding-bottom: 20px;
    }

    select {
        width: 250px; 
    }

    .quizContainer h2 {
        width: 90%;
    }

    .playerRoboInfo {
        padding: 40px 0;
    }
}


