@media (max-width: 951px) {
    .headerImage {
        height: 60vh;
    }
    .playerRoboInfo {
        form {
            input, button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .headerImage {
        height: 45vh;
    }

    .avatarGenerator, .quizContainer {
        flex-direction: column;
    }

    .answerContainer, .quizContainer p {
        width: 100%;
    }

    .questionContainer {
        width: 90%;
    }
    
    .scoreModal {
        padding: 1rem;
        h1 {
            font-size: calc(1rem + 3vw);
            letter-spacing: 1px;
        }
        p {
            font-size: calc(0.4rem + 1.5vw);             
        }
        button {
            margin: 20px;
        }
    }

    .scoreAvatar {
        margin-left: 0px;
    }

}

@media (max-width: 575px) {
    .headerImage {
        height: 25vh;
    }

    header {
        span {
            display: block;
        }
        h1 {
            font-size: 2.5rem;
        }
    }

    .userSelectionContainer {
        align-items: center;
    }
    
    .playerRoboInfo {
        padding: 50px 20px;
    }

    .quizContainer {
        h2 {
            font-size: 1rem;
            line-height: 1.4;
        }
    }

    .answerContainer {
        button {
            font-size: 0.8rem;
            padding: 20px 0;
        }
    }

    label {
        font-size: calc(1rem + 2vw);
        padding-bottom: 20px;
    }

    select {
        width: 250px; 
    }

    .questionContainer {
        margin: 0 auto;
        width: 90%;
    }

    .formSubmit {
        button {
            width: 150px;
        }
    }
    .playerRoboInfo {
        padding: 40px 0;
    }

    .scoreModal {
        h1 {
            margin-top: 30px;
            font-size: 1.4rem;
            letter-spacing: 1px;
        }
        ul {
            padding: 0;
        }
        li {
            width: 60%;
        }
        .scoreName {
            text-align: left;
        }
        button {
            margin: 10px;
        }
    }

    .scoreAvatar {
        img {
            width: 50px;
          }
    }

    button, .playAgainBtn {
        font-size: 0.8rem;
    }

    .mobileUser {
        display: flex;
        text-align: left;
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .scoreModal {
        li {
            width: 90%;
        }
    }
}

