.userFormContainer {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

label {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

input, select {
    color: #4b4a4a;  
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

select {
    margin: 5px;
    width: 350px;
    background-color: white;
    border-style: none;
    border: 2px solid white;
    text-align: center;
}

.playerChoiceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.formSubmit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button {
        width: 350px;
        background-color: $tertiary-color;
        color: white;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: darken($tertiary-color, 10%);
        }
    }
}

.playerRoboInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $secondary-color;
    padding: 50px;
    color: $secondary-color;
    margin-bottom: 50px;
    border-radius: 10px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
            label {
                font-size: 1.5rem;
                margin-bottom: 16px;
            }
            input {
                padding-left: 12px;
                width: 60%;
                align-self: center;
                border-radius: 14px;
                border-style: none;
            }
            button {
                width: 40%;
                align-self: center;
                background-color: $secondary-color;
                color: $primary-color;
                font-family: 'Exo', sans-serif;
                transition: background-color 0.2s ease-in;
                &:hover {
                    background-color: darken($secondary-color, 15%);
                }
            }
    }
}

.avatarGenerator {
    display: flex;
    flex-direction: row;
}

.avatarContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-size: 1rem;
        }
        .avatarImageContainer {
            border-radius: 100px;
            background-color: $tertiary-color;
                img {
                    height: 200px;
                    border-radius: 100px;
                }
        }
}

.userSelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
    padding: 25px;
    color: $primary-color;
    background-color: $secondary-color;
        fieldset {
            flex-direction: column;
        }
}

.errorMessage {
    text-align: center;
}

.quizRouterBtn {
    a {
        font-size: 1.1rem;
    }
}




