.userFormContainer {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

label {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

input, select {
    color: #4b4a4a;  
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

select {
    margin: 5px;
    width: 350px;
    background-color: white;
    border-style: none;
    border: 2px solid white;
    text-align: center;
}

.playerChoiceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.formSubmit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button {
        width: 350px;
        background-color: $tertiary-color;
        color: white;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: darken($tertiary-color, 10%);
        }
    }
}

.playerRoboInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $secondary-color;
    padding: 50px;
    color: $secondary-color;
    margin-top: 35px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 70%;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
            label {
                font-size: 1.5rem;
                margin-bottom: 25px;
            }
            input {
                padding-left: 12px;
                width: 75%;
                align-self: center;
                border-radius: 10px;
                border-style: none;
            }
            button {
                width: 45%;
                align-self: center;
                background-color: $secondary-color;
                color: $primary-color;
                font-family: 'Exo', sans-serif;
                transition: background-color 0.2s ease-in;
                &:hover {
                    background-color: darken($secondary-color, 15%);
                }
            }
    }
}

.avatarGenerator {
    display: flex;
    flex-direction: row;
}

.avatarContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-size: 1rem;
        }
        .avatarImageContainer {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            background-color: $tertiary-color;
                img {
                    height: auto;
                    width: 100%;
                    border-radius: 100px;
                }
        }
}

.userSelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    color: $primary-color;
    background-color: $secondary-color;
        fieldset {
            flex-direction: column;
        }
}

.errorMessage {
    text-align: center;
}

.quizRouterBtn {
    a {
        font-size: 1.1rem;
    }
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }
  .loading div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 72px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 36px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  



