.quizTitleContainer {
    display: flex;
    justify-content: center;
    
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem;

    p {
        font-size: 1.5rem;
            span {
                text-align: center;
            }
    }
    span {
        display: block;
    }
}

.quizContainer {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
        p {
            width: 45%;
            align-self: center;
            font-size: 1.5rem;
        }
}

.currentQuestion {
    border: 2px solid #64DFDF;
    text-align: center;
    padding: 25px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 1rem;

}

.answerContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.correctAnswer:active {
    background-color: rgb(100, 220, 50);
}

.incorrectAnswer:active {
    background-color: red;
}