.quizScoreContainer {
    padding-top: 2px;
    padding-bottom: 10px;
    .playerCurrentScore {
        font-size: 1.35rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
    }
    span {
        display: block;
    }
}

.quizContainer {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0px;
        text-transform: none;
        align-self: center;
    }
}

.currentQuestion {
    border: 2px solid #64DFDF;
    padding: 25px;
    line-height: 1.2;
    border-radius: 8px;
}

.questionContainer {
    width: 45%;
    margin-left: 25px;
}

.answerContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.quiz {
    padding: 20px;
    border-radius: 10px;
    button:hover {
        background-color: darken($secondary-color, 15%);
    }
}

.roboAvatar {
    img {
        width: 150px;
    }
}

// Answers
.correctAnswer:active.correctAnswer:hover {
    background-color: rgb(100, 220, 50);
}

.incorrectAnswer:active.incorrectAnswer:hover {
    background-color: red;
}